@import url(https://fonts.googleapis.com/css?family=Montserrat);


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --parallaxBgX: 50%;
    --parallaxBgY: 50%;
    background: #000000;
}

.hover-text {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 2px white;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-text-stroke 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
}

.hover-text.hovered {
    color: white;
    -webkit-text-stroke: 0px white;
    background: linear-gradient(135deg, #ff005d, #4bece9);
    -webkit-background-clip: text;
    background-clip: text;
}

.bg-grid-white {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.59) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.55) 1px, transparent 1px);
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    /*border-radius: 16px;*/
    backdrop-filter: blur(10px);
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    border: 1px solid rgba(255, 255, 255, 0.27);
}

/*bg-white bg-opacity-10 border-[1px] border-white/20*/
.glassBg {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.glassmorphism-dark {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    border: 1px solid rgba(246, 246, 246, 0.38);
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

/* Define custom cursors */
/** {*/
/*    cursor: url("/icons/cursor/arrow.png"), auto;*/
/*}*/

/*!* Cursor for all clickable links *!*/
/*a {*/
/*    cursor: url("/icons/cursor/click.png"), pointer;*/
/*}*/

/*!* Apply to buttons as well *!*/
/*button {*/
/*    cursor: url("/icons/cursor/click.png"), pointer;*/
/*}*/

/*!* Apply to other interactive elements *!*/
/*[role="button"],*/
/*input[type="button"],*/
/*input[type="submit"],*/
/*input[type="checkbox"],*/
/*input[type="radio"] {*/
/*    cursor: url("/icons/cursor/click.png"), pointer;*/
/*}*/

/*!* Cursor for loading state *!*/
/*.loading {*/
/*    cursor: url("/icons/cursor/wait.png"), wait;*/
/*}*/

.project-card {
    will-change: transform, opacity;
}

header, nav, .gallery-container {
    will-change: transform, opacity;
}


@keyframes inertiaRotation {
    0% {
        transform: perspective(1000px) rotateX(0deg);
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    95% {
        transform: perspective(1000px) rotateX(-355deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: perspective(1000px) rotateX(-360deg);
        animation-timing-function: ease-in;
    }
}

.perspective {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.transform-style {
    transform-style: preserve-3d;
}

.animate-inertia {
    animation: inertiaRotation 10s infinite;
    animation-play-state: running;
}

.stroke-text {
    -webkit-text-stroke: 2px #ff005d; /* Default stroke color */
}

.light-stroke-text {
    -webkit-text-stroke: 2px #ff80ab; /* Light stroke color for glow effect */
}

.shadow-text {
    text-shadow: 0 5px 10px #6c0520;
}

.glow-frame {
    transition: opacity 1s ease-in-out; /* Smooth fade-in and fade-out */
}

@keyframes rotate {
    to {
        transform: rotateY(360deg);
    }
}

/* Stroke animation for text */
.text-copy {
    fill: none;
    stroke-dasharray: 20% 30%;  /* Adjusted to make the dashes and gaps balanced */
    stroke-width: 5px;
    animation: stroke-offset 5s infinite linear; /* Continuously moving without abrupt resets */
}

.text-copy-1 {
    stroke: #FF005D;
    animation-delay: -1s;
}

.text-copy-2 {
    stroke: #4BECE9;
    animation-delay: -2s;
}

@keyframes stroke-offset {
    100% { stroke-dashoffset: -50%; } /* Seamless transition with the dasharray */
}

/* Glow effect */
.glow {
    text-shadow: 0 0 15px #FF005D;
}


.titlef {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,  -50%);
    font-size: 96px;
    font-family: "Roboto Light", sans-serif;
    font-weight: bolder;
    -webkit-text-stroke: 1px #fff; 
    color: transparent;
    background-image: linear-gradient(
        90deg,
        #ff005d,
        #4bece9
    );
    opacity: 0.8;
    background-repeat: no-repeat;
    -webkit-background-clip: text; 
    background-position: -450px 0;
    animation: backcolor 2s alternate-reverse infinite;
}

@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}

/* Container element */
.gradient-border {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

/* Create the border using the pseudo-element */
.gradient-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 4px; /* This will act as the 'border' size */
    background: linear-gradient(45deg, #ff005d, #4bece9, #ff005d, #4bece9);
    background-size: 300% 300%;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    animation: moveGradient 3s linear infinite;
}

/* Add hover effect to scale the border */
.gradient-border:hover::before {
    transform: scale(1.05);
}

/* Animation for moving the gradient */
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@layer components {
    @keyframes move {
        0% {
            left: 0;
            opacity: 0;
            transform: rotate(180deg);
        }
        35% {
            left: 41%;
            opacity: 1;
            transform: rotate(0deg);
        }
        65% {
            left: 59%;
            opacity: 1;
            transform: rotate(0deg);
        }
        100% {
            left: 100%;
            opacity: 0;
            transform: rotate(-180deg);
        }
    }

    .animate-move {
        animation: move 2.5s linear infinite;
        position: absolute;
    }
}

.tooltip-container {
    position: relative;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    padding: 16px;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Soft glowing effect */
}

.tooltip-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: 0;
    left: 0;
    animation: pulse 2s infinite ease-in-out;
    pointer-events: none; /* Prevent blocking of pointer events */
}

/* Animation for pulsating circle */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}




